<h1>Hi, <%= current_user.first_name if current_user.present? %></h1>
<p>Find me in app/views/page/home.html.erb</p>


<h2> Blog posts </h2>
<%= @blogs.inspect %>

<h2> Skill posts </h2>
<%= @skills.inspect %>
